.row { margin: 0 -0.3em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row:before, .row:after { content: ''; display: table; }

.row:after { clear: both; }

.col-month, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7 { float: left; padding: 0 0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.col-1 { width: 14.285714285714286%; }

.col-2 { width: 28.571428571428573%; }

.col-3 { width: 42.857142857142854%; }

.col-4 { width: 57.142857142857146%; }

.col-5 { width: 71.42857142857143%; }

.col-6 { width: 85.71428571428571%; }

.col-7 { width: 100%; }

.col-month { width: 25%; }

body { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }

@keyframes moveFromRight { from { -webkit-transform: translateX(100%); transform: translateX(100%); } }
@keyframes moveToLeft { from { -webkit-transform: translateX(-100%); transform: translateX(-100%); } }
.jacal-container { vertical-align: middle; text-align: center; font-size: 18px; cursor: pointer; font-family: Ubuntu, sans-serif; background-color: #FFFFFF; min-height: 550px; }
.jacal-container .jacal-top { padding: 10px 0; }
.jacal-container .jacal-top .jacal-control-buttons #title { font-size: 1.7em; }
.jacal-container .jacal-top .jacal-control-buttons .jacal-prev-button, .jacal-container .jacal-top .jacal-control-buttons .jacal-next-button { font-size: 25px; }
.jacal-container .jacal-top .jacal-close-button { font-size: 25px; width: 30px; height: 30px; color: #FFF; background-color: #9C27B0; float: right; }
.jacal-container .jacal-calendar .jacal-header .jacal-header-day { background-color: #9C27B0; font-size: 18px; padding: 15px 0; border: 1px solid black; }
.jacal-container .jacal-calendar .jacal-header .sunday { color: #FF3D00; }
.jacal-container .jacal-calendar .jacal-body .jacal-day { padding: 25px 0; font-size: 20px; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; border: 1px solid black; }
.jacal-container .jacal-calendar .jacal-body .jacal-day.sunday { color: #FF3D00; }
.jacal-container .jacal-calendar .jacal-body .jacal-day.disabled { background-color: #F3E5F5; }
.jacal-container .jacal-calendar .jacal-body .jacal-day.today { background-color: #E040FB; }
.jacal-container .jacal-calendar .jacal-body .disabled:hover { background-color: #E1BEE7; }
.jacal-container .jacal-calendar .jacal-body .jacal-day.today:hover, .jacal-container .jacal-calendar .jacal-body .jacal-day:hover { background-color: #BA68C8; }
.jacal-container .jacal-calendar .jacal-body .event:after { content: '\00B7'; position: absolute; width: 20px; margin-left: -10px; color: #9C27B0; font-size: 70px; line-height: 7px; }
.jacal-container .jacal-body .jacal-month { font-size: 42px; padding: 60px 0; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; }
.jacal-container .jacal-body .jacal-month:hover { background-color: #BA68C8; }
.jacal-container .jacal-events .jacal-event { text-align: justify; padding: 10px 0; border-bottom: 1px solid black; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -ms-transition: all 0.2s ease; transition: all 0.2s ease; }
.jacal-container .jacal-events .jacal-event .break { word-break: break-word; }
.jacal-container .jacal-events .jacal-event:hover { background-color: #E1BEE7; }
.jacal-container .left { -webkit-animation: moveToLeft .4s ease both; animation: moveToLeft .4s ease both; }
.jacal-container .right { animation: moveFromRight  .6s ease-in both; }
