.row {
    margin: 0 -0.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: '';
    display: table;
}
.row:after {
    clear: both;
}
.col-month,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
    float: left;
    padding: 0 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-1 {
    width: 14.285714285714286%;
}
.col-2 {
    width: 28.571428571428573%;
}
.col-3 {
    width: 42.857142857142854%;
}
.col-4 {
    width: 57.142857142857146%;
}
.col-5 {
    width: 71.42857142857143%;
}
.col-6 {
    width: 85.71428571428571%;
}
.col-7 {
    width: 100%;
}
.col-month {
    width: 25%;
}
.jacal-top {
    padding: 10px 0;
}
.jacal-control-buttons {
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
.jacal-control-buttons,
.jacal-header,
.jacal-month,
.jacal-day {
    vertical-align: middle;
    text-align: center;
}
.jacal-month {
    padding: 50px 0;
    font-size: 25px;
}
.jacal-day {
    padding: 25px 0;
}
.jacal-day,
.jacal-header-day {
    border: 1px solid black;
    font-size: 18px;
}
.jacal-header-day {
    background-color: #9C27B0;
    padding: 15px 0;
}
.jacal-month,
.jacal-day {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.col-1.jacal-day.today:hover,
.jacal-month:hover,
.jacal-day:hover {
    background-color: #BA68C8;
}
.col-1.jacal-day.today {
    background-color: #E040FB;
}
.col-1.jacal-day.disabled {
    background-color: #F3E5F5;
}
.col-1.jacal-day.disabled:hover {
    background-color: #E1BEE7;
}
#calendar {
    max-width: 650px;
}