.row {
  margin: 0 -0.4em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
  float: left;
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-1 {
  width: 14.285714285714286%;
}
.col-2 {
  width: 28.571428571428573%;
}
.col-3 {
  width: 42.857142857142854%;
}
.col-4 {
  width: 57.142857142857146%;
}
.col-5 {
  width: 71.42857142857143%;
}
.col-6 {
  width: 85.71428571428571%;
}
.col-7 {
  width: 100%;
}
