<div class="jacal-container">
        <div class="jacal-top row">
          <div class="jacal-control-buttons">
            <div class="jacal-prev-button col-1">prev</div>
            <div class="jacal-year-button col-5"><%= year %></div>      
            <div class="jacal-next-button col-1">next</div>
          </div>                
        </div>
        <div class="jacal-body">
          <div class="row">
            <div class="col-month jacal-month" data-date="<%= year %>-1"><%= months[0] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-2"><%= months[1] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-3"><%= months[2] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-4"><%= months[3] %></div>
          </div>
          <div class="row">
            <div class="col-month jacal-month" data-date="<%= year %>-5"><%= months[4] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-6"><%= months[5] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-7"><%= months[6] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-8"><%= months[7] %></div>
          </div>
          <div class="row">
            <div class="col-month jacal-month" data-date="<%= year %>-9"><%= months[8] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-10"><%= months[9] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-11"><%= months[10] %></div>
            <div class="col-month jacal-month" data-date="<%= year %>-12"><%= months[11] %></div>
          </div>
        </div>
         
        
</div>